@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Poppins', 'Ubuntu', sans-serif !important;
    color: black !important;
}